@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: Alegreya, Arial, sans-serif;
}

section {
  min-height: 80vh;
}

.hero {
  height: 80vh;
}

.background-img {
  position: absolute;
  height: 100%;
  width: 100%;
  /* top: 0;
  left: 0; */
  background-color: gray;
  background-image: url(../img/bgr-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.hero {
  position: relative;
}

.hero__name {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid #f1f1f1;
  position: relative;
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

.hero__header {
  position: absolute;
  width: 90vw;
  margin: 6rem auto 2rem;
  left: 0;
  right: 0;
  text-align: center;
}

.hero__title {
  color: white;
  position: relative;
  line-height: 1.3;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 5vmax;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 8px 10px white;
}

.hero__latin {
  color: white;
  position: relative;
  padding-top: 1.5rem;
  font-size: 3vmax;
  font-family: Alegreya, Arial, sans-serif;
  font-style: italic;
  text-transform: lowercase;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 8px 10px white;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: #000;
}

.social {
  display: flex;
  order: -1;
  width: 35%;
  align-self: center;
  justify-content: space-around;
  list-style: none;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
  z-index: 99;
}

.line {
  position: relative;
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: transform .3s ease-out;
}

.makeCross:nth-child(1) {
  top: 1px;
  transform: rotate(45deg);
}

.makeCross:nth-child(2) {
  opacity: 0;
}

.makeCross:nth-child(3) {
  top: -15px;
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  background: #000;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all .5s ease-out;
  pointer-events: none;
}

.menu__item {
  opacity: 0;
}

.menu__item:nth-child(1) {
  transition: all 0.3s ease 0.1s;
}

.menu__item:nth-child(2) {
  transition: all 0.3s ease 0.2s;
}

.menu__item:nth-child(3) {
  transition: all 0.3s ease 0.3s;
}

.menu__item:nth-child(4) {
  transition: all 0.3s ease 0.4s;
}

.menu__item:nth-child(5) {
  transition: all 0.3s ease 0.5s;
}

.menu__link {
  padding: 1.5rem;
  font-size: 3vmax;
  text-decoration: none;
  display: grid;
  place-content: center;
  z-index: 2;
  border-right: 1px dotted gray;
  color: white;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 3px 4px white;
}

/* dodac do menu__item lub menu__link */
.fade {
  opacity: 1;
}

/* dodawane do klasy menu po kliknięciu w hamburger */
.open {
  clip-path: circle(1000px at 80% -20%);
  -webkit-clip-path: circle(1000px at 80% -20%);
  pointer-events: all;
}

.fab {
  padding-top: 0.5rem;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black;
}

.aboutMe {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-image: url("../img/omnie.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutMe__title {
  height: 20vh;
  font-size: 2.2vmax;
  padding-top: 5vh;
  text-shadow: 1px 1px 1px white, 1px 2px 1px black;
}

.aboutMe__bgr {
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
}

.aboutMe__content {
  padding: 4rem;
  text-align: center;
  color: aliceblue;
  font-size: 2vmax;
  text-shadow: 1px 1px 1px black;
}

.skills {
  display: flex;
  flex-direction: row;
  background-color: khaki;
  min-height: 60vh;
}

.skills__title {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  align-items: center;
  height: 100%;
  width: 100%;
}

.skills__h2 {
  font-size: 3vmax;
  text-shadow: 1px 1px 1px white, 1px 2px 1px grey;
  margin-bottom: 3rem;
}

.skills__contentList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.skills__listElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vmax;
  text-shadow: 1px 1px 1px white, 1px 2px 1px grey;
  text-align: center;
}

.skills__icon {
  width: 96px;
  height: 96px;
}

.projects {
  width: 100%;
  background-color: lavender;
}

.projects__title {
  padding: 5vh;
  font-size: 2.2vmax;
  text-align: center;
  text-shadow: 1px 1px 1px white, 1px 2px 1px grey;
  background-color: pink;
}

.projects__title:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f542";
}

.projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 3rem auto 0;
}

.project {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5%;
}

.project__link {
  text-decoration: none;
}

.project__title {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 2rem;
}

.project__onHover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
}

.project__one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/mygame.png");
}

.project__two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/popeyeApp.png");
}

.project__three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/popeyeWeb.png");
}

.project__four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/notes.png");
}

.project__five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/landing.png");
}

.photo {
  justify-self: center;
  align-self: center;
  border-radius: 30px;
  height: 80%;
  width: auto;
}

.photo--1 {
  grid-area: photo--1;
}

.photo--2 {
  grid-area: photo--2;
}

.photo--3 {
  grid-area: photo--3;
}

.photo--4 {
  grid-area: photo--4;
}

.photo--5 {
  grid-area: photo--5;
}

.photo--6 {
  grid-area: photo--6;
}

.photo--7 {
  grid-area: photo--7;
}

.photo--8 {
  grid-area: photo--8;
}

.footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: lemonchiffon;
}

.footer__description {
  font-size: 1.3vmax;
  text-shadow: 1px 1px 1px white, 1px 2px 1px grey;
}

/* @media (max-width: 1024px) {
  .navigation {
    position: sticky;
    justify-content: space-evenly;
  }

  .menu {
    display: none;
  }

  .social {
    width: 60%;
    justify-content: space-evenly;
  }

  .iCanDo {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20vh repeat(2, 1fr);
  grid-template-areas: "iCanDo__title iCanDo__title iCanDo__title iCanDo__title"
    "photo--1 photo--2 photo--3 photo--4"
    "photo--5 photo--6 photo--7 photo--8";
  }

  .footer {
    flex-direction: column;
  }

  .iLike {
    flex-direction: column;
    justify-content: space-between;
  }

  .iLike__img {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 414px) {
  .hero__title {
    font-size: 4vmax;
  }

  .aboutMe__content {
    font-size: 1.5vmax;
  }

  .iCanDo__title {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (orientation: landscape) {
  .iLike__img {
    width: 40%;
  }

  .iLike {
    flex-direction: row;
  }

  .photo {
    height: 60%;
    width: auto;
  }
} */
