$shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black,
	1px 5px 1px black, 1px 8px 10px white;
$titleShadow: 1px 1px 1px white, 1px 2px 1px black;
$box-shadow: 3px 9px 23px -2px rgba(15, 13, 15, 0.65);

$mainFont: Alegreya, Arial, sans-serif;
$secondFont: Roboto, Arial, sans-serif;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	font-family: $mainFont;
}

section {
	min-height: 60vh;
}

.hero {
	height: 80vh;
	overflow: hidden;
	position: relative;
	background-color: #3797a4;
	z-index: -1;

	&__name {
		background-color: rgb(0, 0, 0);
		/* Fallback color */
		background-color: rgba(0, 0, 0, 0.7);
		// border: 3px solid #f1f1f1;
		position: relative;
		border-radius: 50px;
		box-shadow: $box-shadow;
		width: 100%;
		padding: 1rem;
		text-align: center;
		margin: 0 auto;
	}

	&__header {
		position: absolute;
		width: 90vw;
		margin: 12rem auto 2rem;
		left: 0;
		right: 0;
		text-align: center;
	}

	&__title {
		color: white;
		position: relative;
		line-height: 1.3;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		font-size: 12vmin;
		text-shadow: $shadow;
	}

	&__latin {
		color: white;
		position: relative;
		padding-top: 1.5rem;
		font-size: 3vmax;
		font-family: $mainFont;
		font-style: italic;
		text-transform: lowercase;
		text-shadow: $shadow;
	}
}

.navigation {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100vw;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #000;
	box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
	// transition: all 0.3s ease;
}

.social {
	display: flex;
	order: -1;
	width: 20%;
	align-self: center;
	justify-content: space-evenly;
	list-style: none;
}

.hamburger {
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 50%;
	transform: translate(-5%, -50%);
	z-index: 2;
}

.line {
	position: relative;
	width: 30px;
	height: 3px;
	background: white;
	margin: 5px;
	transition: transform 0.3s ease-out;
}

.makeCross:nth-child(1) {
	top: 1px;
	transform: rotate(45deg);
}

.makeCross:nth-child(2) {
	opacity: 0;
}

.makeCross:nth-child(3) {
	top: -15px;
	transform: rotate(-45deg);
}

.menu {
	position: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	clip-path: circle(100px at 80% -40%);
	-webkit-clip-path: circle(100px at 80% -40%);
	transition: height 0.3s ease-out;
	pointer-events: none;
	list-style: none;
	background-color: #000;

	&__item {
		opacity: 0;
		transition: all 0.3s ease-out;

		&:nth-child(1) {
			transition: all 0.3s ease 0.1s;
		}

		&:nth-child(2) {
			transition: all 0.3s ease 0.2s;
		}

		&:nth-child(3) {
			transition: all 0.3s ease 0.3s;
		}

		&:nth-child(4) {
			transition: all 0.3s ease 0.4s;
		}

		&:nth-child(5) {
			transition: all 0.3s ease 0.5s;
		}
	}

	&__link {
		padding: 1.5rem;
		font-size: 3vmax;
		text-decoration: none;
		display: grid;
		place-content: center;
		border-right: 1px dotted gray;
		color: white;
		text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 3px 4px white;
	}
}

.fade {
	opacity: 1;
}

/* dodawane do klasy menu po kliknięciu w hamburger */

.open {
	clip-path: circle(1000px at 80% -20%);
	-webkit-clip-path: circle(1000px at 80% -20%);
	pointer-events: all;
}

.fab {
	padding-top: 0.5rem;
	font-size: 2rem;
	color: whitesmoke;
}

.aboutMe {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/omnie.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;

	&__title {
		height: calc(20vh - 40px);
		font-size: 3vmax;
		line-height: calc(20vh - 30px);
		text-shadow: $titleShadow;
		box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
	}

	&__bgr {
		width: 100%;
		background-color: #cee397;
		text-align: center;
	}
	&__wrapper {
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__picture {
		max-width: 20vw;
		height: auto;
		display: none;
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	}

	&__content {
		display: none;
		padding: 4rem 1rem;
		text-align: center;
		color: aliceblue;
		font-size: 3vmax;
		text-shadow: 1px 1px 1px black;
	}
}

.fromLeft {
	animation: slideLeft 0.8s;
	display: flex;
}

.fromRight {
	animation: slideRight 0.8s;
	display: flex;
}

@keyframes slideLeft {
	0% {
		transform: translateX(-400px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slideRight {
	0% {
		transform: translateX(800px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.skills {
	background-color: #8bcdcd;
	min-height: 80vh;

	&__h2 {
		width: 100%;
		font-size: 3vmax;
		line-height: calc(20vh - 30px);
		height: calc(20vh - 40px);
		text-align: center;
		text-shadow: $titleShadow;
		border-bottom: 1px solid grey;
		box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
	}

	&__contentList {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		min-height: 60vh;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}

	&__listElement {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 0.4s;
		opacity: 0;
		transform: translateX(1000px);
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
		transition-property: opacity, trnsform;
		// animation: show 0.5s ease;

		&:hover {
			transform: scale(1.3);
			animation: shake 0.2s;
		}
	}

	&__icon {
		// display: none;
		width: 96px;
		height: 96px;
	}
}

.show {
	opacity: 1;
	transform: translateX(0);
	transition-delay: calc(1s * var(--index));
}
// @for $i from 1 through 11 {
// 	.skills__contentList li:nth-child(#{$i}) {
// 		animation-delay: #{$i * 0.5}s;
// 	}
// }

// @keyframes show {
// 	0% {
// 		transform: translateX(-800px);
// 		// opacity: 0;
// 	}
// 	100% {
// 		transform: translateX(0px);
// 		// display: flex;
// 		opacity: 1;
// 	}
// }

// .show {
// 	display: flex;
// }

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.tooltip:before {
	position: absolute;
	display: none;
	max-width: 200px;
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: $secondFont;
	text-align: center;
	color: white;
	top: calc(100% + 5px);
	left: 50%;
	transform: translateX(-50%);
	content: attr(title);
}
.tooltip:after {
	position: absolute;
	display: none;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-top-width: 0;
	border-bottom-color: rgba(0, 0, 0, 0.8);
	content: '';
}

// .tooltip:hover:before,
// .tooltip:hover:after {
// 	display: inline-block;
// }

.projects {
	width: 100%;
	background-color: #fcf876;

	&__title {
		height: calc(20vh - 40px);
		font-size: 3vmax;
		line-height: calc(20vh - 30px);
		text-align: center;
		text-shadow: $titleShadow;
		border-bottom: 1px solid grey;
		box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);

		&:after {
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: '\f542';
		}
	}
}

.projects__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	min-height: 80vh;
	margin: 3rem auto 0;
}

.project {
	flex-basis: 300px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 5%;
	transition: 0.3s;

	&:hover {
		transform: scale(1.1);
	}

	&__link {
		text-decoration: none;
	}

	&__description {
		color: lightcyan;
		padding: 1rem;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: 0.3s;
	}
	&__wrapper {
		height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 5%;
		transition: 0.3s;
		box-shadow: $box-shadow;

		&:hover {
			background-color: rgba(0, 0, 0, 0.9);
		}
		&:hover > .project__description {
			opacity: 1;
		}
	}

	&__title {
		text-align: center;
		color: white;
		font-family: $secondFont;
		font-size: 2rem;
		text-shadow: $shadow;
	}

	&__one {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('../img/mygame.png');
	}

	&__two {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('../img/popeyeApp.png');
	}

	&__three {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('../img/popeyeWeb.png');
	}

	&__four {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('../img/notes.png');
	}

	&__five {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('../img/landing.png');
	}
}

.footer {
	height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #cee397;
	padding: 1rem;

	&__description,
	&__link {
		color: black;
		font-size: clamp(3vmin, 22px, 4.5vmin);
		text-shadow: 1px 1px 1px white, 1px 2px 1px grey;
		text-decoration: none;
		&:visited {
			text-shadow: 1px 1px 1px white, 1px 2px 1px grey;
			color: black;
		}
	}
	&__iconLink {
		align-self: flex-end;
		padding-right: 2rem;
		font-size: clamp(0.7vmax, 16px, 1.5vmax);
	}
}

//blobs in header
.blob {
	position: absolute;
	top: 0;
	left: 0;
	width: 30vmax;
	z-index: -1;
	animation: move 40s ease-in-out infinite;
	transform-origin: 50% 30%;
}

.blob2 {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 30vmax;
	z-index: -2;
	animation: move2 50s ease-in-out infinite;
	transform-origin: 50% 30%;
	border: 1px solid darkcyan;
}
.blob3 {
	position: absolute;
	top: 30px;
	left: 300px;
	width: 38vmax;
	height: 42vmax;
	z-index: -1;
	animation: move3 50s ease-in infinite;
	transform-origin: 30% 30%;
}

@keyframes move {
	0% {
		border-radius: 60% 40% 60% 70%/ 40% 50% 60% 70%;
		background: radial-gradient(
			circle at 100px 100px,
			rgba(92, 171, 252, 0.71),
			rgba(0, 0, 0, 0.4)
		);
		transform: scale(0.8);
	}
	48% {
		transform: scale(0.8, 1) translate(80vw, 20vh) rotate(180deg);
	}
	50% {
		border-radius: 50% 70% 60% 40% / 70% 40% 50% 60%;
		background: radial-gradient(
			circle at 100px 100px,
			rgba(92, 171, 255, 0.71),
			rgba(0, 0, 0, 0.4)
		);
	}
	80% {
		transform: scale(1.3) translate(10vw, 30vh) rotate(-140deg);
	}
	100% {
		border-radius: 60% 40% 60% 70%/40% 50% 60% 70%;
		background: radial-gradient(
			circle at 100px 100px,
			rgba(92, 171, 239, 0.71),
			rgba(0, 0, 0, 0.4)
		);
		transform: scale(0.8);
	}
}

@keyframes move2 {
	0% {
		border-radius: 60% 40% 60% 70%/ 40% 50% 60% 70%;
		background: radial-gradient(circle at 100px 100px, rgba(55, 151, 164, 1), rgba(0, 0, 0, 0.4));
		transform: scale(0.8);
	}
	38% {
		transform: scale(0.8, 1) translate(-90vw, 40vh) rotate(180deg);
		background: radial-gradient(circle at 100px 100px, rgba(55, 151, 167, 1), rgba(0, 0, 0, 0.4));
	}
	50% {
		border-radius: 50% 70% 60% 40% / 70% 40% 50% 60%;
		background: radial-gradient(circle at 100px 100px, rgba(55, 151, 170, 1), rgba(0, 0, 0, 0.4));
		width: 40vw;
	}
	70% {
		transform: scale(1.2) translate(-40vw, -20vh) rotate(-120deg);
		background: radial-gradient(circle at 100px 100px, rgba(55, 151, 167, 1), rgba(0, 0, 0, 0.4));
	}
	100% {
		border-radius: 60% 40% 60% 70%/40% 50% 60% 70%;
		background: radial-gradient(circle at 100px 100px, rgba(55, 151, 164, 1), rgba(0, 0, 0, 0.4));
		transform: scale(0.8);
	}
}

@keyframes move3 {
	0% {
		border-radius: 80% 50% 60% 70%/ 40% 50% 60% 70%;
		background: radial-gradient(
			circle at 100px 100px,
			rgba(72, 151, 252, 0.71),
			rgba(0, 0, 0, 0.4)
		);
		transform: scale(0.8);
	}
	18% {
		transform: scale(0.8, 1) translate(-10vw, -60vh) rotate(10deg);
	}
	48% {
		transform: scale(0.8, 1) translate(-40vw, -20vh) rotate(180deg);
	}
	50% {
		border-radius: 50% 70% 60% 70% / 70% 40% 70% 60%;
		background: radial-gradient(circle at 100px 100px, rgba(72, 151, 255, 0.7), rgba(0, 0, 0, 0.4));
	}
	80% {
		transform: scale(1.3) translate(30vw, 30vh) rotate(-140deg);
	}
	100% {
		border-radius: 80% 50% 60% 70%/40% 50% 60% 70%;
		background: radial-gradient(
			circle at 100px 100px,
			rgba(72, 151, 239, 0.71),
			rgba(0, 0, 0, 0.4)
		);
		transform: scale(0.8);
	}
}

@media (min-width: 530px) {
	.aboutMe {
		&__wrapper {
			flex-direction: row;
		}
	}
}

//up to iPad
@media (min-width: 769px) {
	.hamburger {
		display: none;
	}
	.menu {
		position: relative;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding-right: 2rem;
		width: 80%;
		height: 80px;
		clip-path: none;
		// transition: none;
		pointer-events: all;
		// background-color: transparent;

		&__item {
			opacity: 1;
			cursor: pointer;
			z-index: inherit;
		}
		&__link {
			padding: 0 1rem;
			border: none;
			font-size: 2vmax;
		}
	}
}

//over iPad pro
@media (min-width: 1024px) {
	.footer {
		flex-direction: row;
		justify-content: space-between;
		&__description,
		&__link {
			font-size: 1.5vmax;
		}
		&__iconLink {
			padding-right: 0;
			align-self: inherit;
		}
	}
	.aboutMe__content {
		font-size: 2.7vmax;
		padding: 6rem;
	}
	.hero__title {
		font-size: 10vmin;
	}
}

.shortMenu {
	height: 50px;
	transition: all 0.3s ease;
}
