@import 'variables.scss';

.form {
	position: fixed;
	top: 80px;
	right: 0;
	height: calc(100vh - 80px);
	width: 100%;
	z-index: 99999;
	background-color: black;
	border-left: 8px solid $yellowColor;
	border-top: 1px solid $yellowColor;
	border-top-left-radius: 1%;
	border-bottom-left-radius: 1%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__input {
		width: 50%;
		border-radius: 5px;
		line-height: 1.5;
	}
	&__btn {
		width: 50%;
		height: initial;
		z-index: 99999999;
	}
	&__show {
		transform: translate(0);
		transition: transform 0.5s ease-in-out;
	}
	&__hide {
		transform: translate(100%);
		transition: transform 0.5s ease-in-out;
	}
	&__close {
		position: absolute;
		bottom: 5%;
		right: 5%;
	}
}
@media (min-width: 769px) {
	.form {
		width: 70%;
	}
}

@media (min-width: 1025px) {
	.form {
		width: 50%;
	}
}
