@import 'variables.scss';
@import 'animations.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	font-family: $mainFont;
}

section {
	min-height: 60vh;
}
.hero {
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #252934 80%, #090a0f 100%);
	overflow: hidden;

	&__star--wrapper {
		transform: rotateZ(45deg);
	}
	&__star {
		position: absolute;
		left: 0;
		top: 60%;
		height: 2px;
		background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
		border-radius: 999px;
		filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
		animation: tail $shooting-time ease-in-out infinite,
			shooting $shooting-time ease-in-out infinite;

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - 1px);
			right: 0;
			height: 2px;
			background: linear-gradient(
				-45deg,
				rgba(0, 0, 255, 0),
				rgba(95, 145, 255, 1),
				rgba(0, 0, 255, 0)
			);
			transform: translateX(50%) rotateZ(45deg);
			border-radius: 100%;
			animation: shining $shooting-time ease-in-out infinite;
		}

		&::after {
			content: '';
			position: absolute;
			top: calc(50% - 1px);
			right: 0;
			height: 2px;
			background: linear-gradient(
				-45deg,
				rgba(0, 0, 255, 0),
				rgba(95, 145, 255, 1),
				rgba(0, 0, 255, 0)
			);
			transform: translateX(50%) rotateZ(45deg);
			border-radius: 100%;
			animation: shining $shooting-time ease-in-out infinite;
			transform: translateX(50%) rotateZ(-45deg);
		}

		@for $i from 1 through 14 {
			&:nth-child(#{$i}) {
				$delay: random(9999) + 0ms;
				top: calc(10% - #{random(800) - 200px});
				left: calc(10% - #{random(600) + 0px});
				animation-delay: $delay;
				&::before,
				&::after {
					animation-delay: $delay;
				}
			}
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	&__name {
		width: 80%;
		margin: 0 auto;
		color: white;
	}

	&__title {
		position: relative;
		line-height: 1.3;
		font-size: 8vmin;
		display: inline-block;
		animation: showHeroText 2s ease;
		&--red {
			@extend .hero__title;
			color: hotpink;
		}
	}

	&__latin {
		color: white;
		padding-top: 1.5rem;
		font-size: 3vmax;
		font-family: $mainFont;
		font-style: italic;
		visibility: hidden;
		display: inline-block;
		animation: showHeroText 2s ease 0.5s;
		animation-fill-mode: forwards;
	}
	&__btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&__arrow {
		border: solid #ccc;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 8px;
		animation: arrowDown 2s infinite;
	}
}

.hide {
	background: transparent;
	overflow: hidden;
}

.navigation {
	position: fixed;
	top: 0;
	opacity: 0;
	z-index: 99;
	width: 100vw;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $bgColorNavFoot;
	box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
	transition: opacity 0.7s;
}
.withOpacity {
	opacity: 1;
}
.social {
	display: flex;
	order: -1;
	width: 20%;
	align-self: center;
	justify-content: space-evenly;
	list-style: none;

	&__icon:hover {
		transform: translateY(-7px);
		transition: all 0.3s ease;
		color: #2ee59d;
		text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	}
}

.hamburger {
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 50%;
	transform: translate(-5%, -50%);
	z-index: 2;
}

.line {
	position: relative;
	width: 30px;
	height: 3px;
	background: white;
	margin: 5px;
	transition: transform 0.3s ease-out;
}

.makeCross:nth-child(1) {
	top: 1px;
	transform: rotate(45deg);
}

.makeCross:nth-child(2) {
	opacity: 0;
}

.makeCross:nth-child(3) {
	top: -15px;
	transform: rotate(-45deg);
}

.menu {
	position: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	clip-path: circle(100px at 80% -40%);
	-webkit-clip-path: circle(100px at 80% -40%);
	transition: height 0.3s ease-out;
	pointer-events: none;
	list-style: none;
	background-color: $bgColorNavFoot;

	&__item {
		opacity: 0;
		transition: opacity 0.3s ease-out;

		&:nth-child(1) {
			transition: all 0.3s ease 0.1s;
		}

		&:nth-child(2) {
			transition: all 0.3s ease 0.2s;
		}

		&:nth-child(3) {
			transition: all 0.3s ease 0.3s;
		}

		&:nth-child(4) {
			transition: all 0.3s ease 0.4s;
		}

		&:nth-child(5) {
			transition: all 0.3s ease 0.5s;
		}

		&:nth-child(6) {
			transition: all 0.3s ease 0.6s;
		}
	}

	&__link {
		padding: 1.5rem;
		font-size: clamp(1.4vmax, 1.7rem, 3vmax);
		text-decoration: none;
		display: grid;
		place-content: center;
		color: white;

		&:hover {
			transform: translateY(-7px);
			transition: all 0.3s ease;
			color: $greenColor;
			text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
		}
	}
}

.button {
	height: 45px;
	font-family: $mainFont;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	outline: none;
	padding: 0.5rem;
	cursor: pointer;
	font-family: $mainFont;

	&:hover {
		background-color: $greenColor;
		box-shadow: 0px 5px 10px rgba(46, 229, 157, 0.4);
		color: #fff;
		transform: translateY(-7px);
	}
}
.fade {
	opacity: 1;
}

/* dodawane do klasy menu po kliknięciu w hamburger */

.open {
	clip-path: circle(1000px at 80% -20%);
	-webkit-clip-path: circle(1000px at 80% -20%);
	pointer-events: all;
}

.fab {
	padding-top: 0.5rem;
	font-size: 2rem;
	color: whitesmoke;
}

.aboutMe {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/omnie.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;

	&__title {
		padding-top: 80px;
		min-height: calc(20vh - 60px);
		font-size: 3vmax;
		line-height: calc(20vh - 50px);
		// text-shadow: $titleShadow;
		box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
	}

	&__bgr {
		width: 100%;
		background-color: #e6e6dc;
		text-align: center;
	}

	&__wrapper {
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__pictureWrapper {
		display: none;
	}

	&__picture {
		max-width: 20vw;
		height: auto;
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	}

	&__content {
		display: none;
		padding: 4rem 1rem;
		text-align: center;
		color: aliceblue;
		font-size: 3vmax;
		text-shadow: 1px 1px 1px black;
	}
}

.fromLeft {
	animation: slideLeft 0.8s;
	display: flex;
}

.fromRight {
	animation: slideRight 0.8s;
	display: flex;
}

.skills {
	background-color: #81a594;
	min-height: 70vh;
	position: relative;
	// z-index: -1;
	overflow: hidden;

	&__h2 {
		width: 100%;
		font-size: 3vmax;
		line-height: calc(20vh - 30px);
		height: calc(20vh - 40px);
		text-align: center;
		text-shadow: $titleShadow;
		border-bottom: 1px solid grey;
		box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
	}

	&__contentList {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		min-height: 50vh;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}

	&__listElement {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 0.5s;
		opacity: 0;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
		transition-property: opacity;
		// z-index: 11;

		&:hover {
			transform: scale(1.3);
			animation: shake 0.2s;
		}
	}

	&__icon {
		width: 96px;
		height: 96px;
	}
}

.show {
	opacity: 1;
	transform: translateX(0);
	transition-delay: calc(1s * var(--index));
}

// .tooltip:before {
//   position: absolute;
//   display: none;
//   max-width: 200px;
//   padding: 10px;
//   font-size: 1rem;
//   border-radius: 5px;
//   background-color: rgba(0, 0, 0, 0.8);
//   font-family: $secondFont;
//   text-align: center;
//   color: white;
//   top: calc(100% + 5px);
//   left: 50%;
//   transform: translateX(-50%);
//   content: attr(title);
// }

// .tooltip:after {
//   position: absolute;
//   display: none;
//   width: 0;
//   height: 0;
//   border: 5px solid transparent;
//   top: 100%;
//   left: 50%;
//   transform: translateX(-50%);
//   border-top-width: 0;
//   border-bottom-color: rgba(0, 0, 0, 0.8);
//   content: '';
// }

// .tooltip:hover:before,
// .tooltip:hover:after {
// 	display: inline-block;
// }

.projects {
	width: 100%;
	background: linear-gradient(to right top, #343a40, #384042, #3e4545, #464948, #4d4e4d);

	&__title {
		padding-top: 80px;
		min-height: calc(20vh - 40px);
		font-size: 3vmax;
		line-height: calc(20vh - 30px);
		text-align: center;
		text-shadow: $titleShadow;
		border-bottom: 1px solid grey;
		box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);

		&:after {
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: '\f542';
		}
	}
}

.projects__wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 1rem;
}

.project {
	position: relative;
	// background-size: cover;
	// background-repeat: no-repeat;
	// transition: 0.3s;
	margin: 0.5rem 0.5rem 2rem;
	// background-color: rgba(72, 151, 252, 0.41);
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	border-radius: 2rem;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	box-shadow: $box-shadow;
	min-height: 50vh;

	&:hover > .project__description {
		opacity: 1;
	}

	&__about {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__btns {
		display: flex;
		flex-direction: row;
	}

	&-right {
		order: 1;
	}

	&__link {
		text-decoration: none;
	}
	&__image {
		margin: 2rem;
		border-radius: 2rem;
		box-shadow: 0 0 30px #ccc, 0 0 30px #ddd;
		overflow: hidden;
		transition: all 0.85s;
		background-image: url('../img/mygame.png');
		background-size: contain;
		width: 36%;
		height: 300px;
		opacity: 0.5;
		&:hover {
			transform: scale(1.1);
			opacity: 0.9;
		}
	}

	&__description {
		color: black;
		padding: 1rem;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: 0.3s;
	}

	&__title {
		text-align: center;
		color: white;
		font-family: $secondFont;
		font-size: 2rem;
		text-shadow: $shadow;
	}

	&__one {
		background-image: url('../img/mygame.png');
	}

	&__two {
		background-image: url('../img/popeyeApp.png');
	}

	&__three {
		background-image: url('../img/notes.png');
	}

	&__four {
		background-image: url('../img/popeyeWeb.png');
	}

	&__five {
		background-image: url('../img/landing.png');
	}

	&__six {
		background-image: url('../img/asiaStrona.JPG');
	}
	&__seven {
		background-image: url('../img/shopping-list.png');
	}
}

.link {
	cursor: pointer;
	background-color: lemonchiffon;
	padding: 1rem;
	border: 1px solid red;
	&:hover {
		background-color: lightblue;
		transition: 0.3s ease-out all;
	}
	&__border {
		margin-right: 1rem;
		padding: 1.5rem 0.5rem;
		border: 1px solid blue;
	}
}

.footer {
	min-height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	// background-color: #00628b;
	background-color: $bgColorNavFoot;
	padding: 1rem;

	&__description,
	&__link,
	&__iconLink {
		color: white;
		font-size: clamp(3vmin, 14px, 3.5vmin);
		font-weight: lighter;
		text-shadow: 1px 1px 1px grey, 1px 2px 1px black;
		text-decoration: none;
		padding-top: 1rem;

		&:visited {
			text-shadow: 1px 1px 1px grey, 1px 2px 1px black;
			color: white;
		}
	}

	&__link:hover,
	&__link:hover > &__iconLink {
		transform: translateY(-7px);
		transition: all 0.3s ease;
		color: #2ee59d;
		text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		list-style-type: none;
	}

	&__socialLink {
		text-decoration: none;
		color: white;
		font-size: clamp(3vmin, 16px, 4vmin);
	}
	&__github:hover,
	&__linkedin:hover {
		transform: translateY(-7px);
		transition: all 0.3s ease;
		color: #2ee59d;
		text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	}

	&__envelope {
		visibility: hidden;
	}
}

//blobs in header
.blob {
	position: absolute;
	top: 500px;
	left: 200px;
	width: 23vmax;
	animation: move 40s ease-in-out infinite;
	transform-origin: 50% 30%;
}

.blob2 {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 25vmax;
	animation: move2 50s ease-in-out infinite;
	transform-origin: 50% 30%;
	box-shadow: 1px 1px -8px black;
}

.blob3 {
	position: absolute;
	top: 30px;
	left: 300px;
	width: 28vmax;
	height: 30vmax;
	animation: move3 50s ease-in infinite;
	transform-origin: 30% 30%;
}

@media (max-width: 375px) {
	.fromLeft {
		display: none !important;
	}
}

@media (min-width: 530px) {
	.aboutMe {
		&__wrapper {
			flex-direction: row;
		}

		&__picture {
			display: flex;
		}
	}

	.skills {
		&__icon {
			width: 144px;
			height: 144px;
		}
	}

	.footer {
		&__envelope {
			visibility: visible;
		}
	}
}

//up to iPad
@media (min-width: 769px) {
	.hero {
		&__name {
			width: 50%;
		}
		&__title {
			padding-bottom: 1.5rem;
			font-size: 6vmin;
		}
		&__latin {
			font-size: 4vmin;
		}
	}
	.hamburger {
		display: none;
	}

	.menu {
		position: relative;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding-right: 2rem;
		width: 80%;
		height: 80px;
		clip-path: none;
		pointer-events: all;
		background: transparent;

		&__item {
			opacity: 1;
			cursor: pointer;
			z-index: inherit;
			background: transparent;
		}

		&__link {
			padding: 0 1rem;
			background: transparent;
		}
	}
}

//over iPad pro
@media (min-width: 1024px) {
	.footer {
		flex-direction: row;
		justify-content: space-around;

		&__description,
		&__link,
		&__socialLink {
			font-size: 1.3rem;
		}

		&__iconLink {
			padding-right: 0;
			align-self: inherit;
		}
		&__small {
			font-size: 1rem;
		}
	}

	.aboutMe__content {
		font-size: 2.7vmax;
		padding: 6rem;
	}
}
