$shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black,
	1px 5px 1px black, 1px 8px 10px white;
$titleShadow: 1px 1px 1px white, 1px 2px 1px black;
$box-shadow: 0px 9px 23px 0px rgba(15, 13, 15, 0.65);

$mainFont: Heebo, Arial, sans-serif;
$secondFont: Heebo, Arial, sans-serif;
$yellowColor: rgb(255, 230, 0);
$greenColor: #2ee59d;

$bgColorNavFoot: #252934;
$shooting-time: 5000ms;
