@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: Ubuntu, Arial, sans-serif;
}

section {
  min-height: 60vh;
}

.hero {
  height: 80vh;
  background-color: black;
}

.hero__bgr {
  background-image: url("../img/heroBgr.png");
  background-size: cover;
  filter: blur(5px);
  height: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__name {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  border-radius: 50px;
  box-shadow: 3px 9px 23px -2px rgba(15, 13, 15, 0.65);
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

.hero__header {
  position: absolute;
  width: 90vw;
  margin: 12rem auto 2rem;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.hero__title {
  color: white;
  position: relative;
  line-height: 1.3;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 12vmin;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 8px 10px white;
}

.hero__latin {
  color: white;
  position: relative;
  padding-top: 1.5rem;
  font-size: 3vmax;
  font-family: Ubuntu, Arial, sans-serif;
  font-style: italic;
  text-transform: lowercase;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 8px 10px white;
}

.navigation {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
}

.social {
  display: flex;
  order: -1;
  width: 20%;
  align-self: center;
  justify-content: space-evenly;
  list-style: none;
}

.social__icon:hover {
  transform: translateY(-7px);
  transition: all 0.3s ease;
  color: #2ee59d;
  text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

.line {
  position: relative;
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: transform 0.3s ease-out;
}

.makeCross:nth-child(1) {
  top: 1px;
  transform: rotate(45deg);
}

.makeCross:nth-child(2) {
  opacity: 0;
}

.makeCross:nth-child(3) {
  top: -15px;
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: circle(100px at 80% -40%);
  -webkit-clip-path: circle(100px at 80% -40%);
  transition: height 0.3s ease-out;
  pointer-events: none;
  list-style: none;
  background-color: #000;
}

.menu__item {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.menu__item:nth-child(1) {
  transition: all 0.3s ease 0.1s;
}

.menu__item:nth-child(2) {
  transition: all 0.3s ease 0.2s;
}

.menu__item:nth-child(3) {
  transition: all 0.3s ease 0.3s;
}

.menu__item:nth-child(4) {
  transition: all 0.3s ease 0.4s;
}

.menu__item:nth-child(5) {
  transition: all 0.3s ease 0.5s;
}

.menu__item:nth-child(6) {
  transition: all 0.3s ease 0.6s;
}

.menu__link {
  padding: 1.5rem;
  font-size: clamp(1.4vmax, 1.7rem, 3vmax);
  text-decoration: none;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 3px 4px white;
}

.menu__link:hover {
  transform: translateY(-7px);
  transition: all 0.3s ease;
  color: #2ee59d;
  text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.button {
  height: 45px;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  font-family: Ubuntu, Arial, sans-serif;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 5px 10px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.fade {
  opacity: 1;
}

/* dodawane do klasy menu po kliknięciu w hamburger */
.open {
  clip-path: circle(1000px at 80% -20%);
  -webkit-clip-path: circle(1000px at 80% -20%);
  pointer-events: all;
}

.fab {
  padding-top: 0.5rem;
  font-size: 2rem;
  color: whitesmoke;
}

.aboutMe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/omnie.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.aboutMe__title {
  height: calc(20vh - 40px);
  font-size: 3vmax;
  line-height: calc(20vh - 30px);
  text-shadow: 1px 1px 1px white, 1px 2px 1px black;
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
}

.aboutMe__bgr {
  width: 100%;
  background-color: #e6e6dc;
  text-align: center;
}

.aboutMe__wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMe__pictureWrapper {
  display: none;
}

.aboutMe__picture {
  max-width: 20vw;
  height: auto;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.aboutMe__content {
  display: none;
  padding: 4rem 1rem;
  text-align: center;
  color: aliceblue;
  font-size: 3vmax;
  text-shadow: 1px 1px 1px black;
}

.fromLeft {
  animation: slideLeft 0.8s;
  display: flex;
}

.fromRight {
  animation: slideRight 0.8s;
  display: flex;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(800px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.skills {
  background-color: #81a594;
  min-height: 70vh;
  position: relative;
  overflow: hidden;
}

.skills__h2 {
  width: 100%;
  font-size: 3vmax;
  line-height: calc(20vh - 30px);
  height: calc(20vh - 40px);
  text-align: center;
  text-shadow: 1px 1px 1px white, 1px 2px 1px black;
  border-bottom: 1px solid grey;
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
}

.skills__contentList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.skills__listElement {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: opacity;
}

.skills__listElement:hover {
  transform: scale(1.3);
  animation: shake 0.2s;
}

.skills__icon {
  width: 96px;
  height: 96px;
}

.show {
  opacity: 1;
  transform: translateX(0);
  transition-delay: calc(1s * var(--index));
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.projects {
  width: 100%;
  background-color: #e6e6dc;
}

.projects__title {
  height: calc(20vh - 40px);
  font-size: 3vmax;
  line-height: calc(20vh - 30px);
  text-align: center;
  text-shadow: 1px 1px 1px white, 1px 2px 1px black;
  border-bottom: 1px solid grey;
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.75);
}

.projects__title:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f542';
}

.projects__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.project {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  margin: 0.5rem 0.5rem 2rem;
  background-color: rgba(72, 151, 252, 0.41);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s;
  box-shadow: 3px 9px 23px -2px rgba(15, 13, 15, 0.65);
  min-height: 50vh;
}

.project:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.project:hover > .project__description {
  opacity: 1;
}

.project__about {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__btns {
  display: flex;
  flex-direction: row;
}

.project-right {
  order: 1;
}

.project__link {
  text-decoration: none;
}

.project__image--wrapper {
  position: relative;
  height: auto;
  width: 30%;
}

.project__image {
  width: 100%;
  padding: 1rem;
}

.project__image:hover {
  transition: scale(1.4);
}

.project__description {
  color: black;
  padding: 1rem;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}

.project__title {
  text-align: center;
  color: white;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 8px 10px white;
}

.link {
  cursor: pointer;
  background-color: lemonchiffon;
  padding: 1rem;
  border: 1px solid red;
}

.link:hover {
  background-color: lightblue;
  transition: 0.3s ease-out all;
}

.link__border {
  margin-right: 1rem;
  padding: 1.5rem 0.5rem;
  border: 1px solid blue;
}

.footer {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #343a40;
  padding: 1rem;
}

.footer__description, .footer__link, .footer__iconLink {
  color: white;
  font-size: clamp(3vmin, 14px, 3.5vmin);
  font-weight: lighter;
  text-shadow: 1px 1px 1px grey, 1px 2px 1px black;
  text-decoration: none;
  padding-top: 1rem;
}

.footer__description:visited, .footer__link:visited, .footer__iconLink:visited {
  text-shadow: 1px 1px 1px grey, 1px 2px 1px black;
  color: white;
}

.footer__link:hover,
.footer__link:hover > .footer__iconLink {
  transform: translateY(-7px);
  transition: all 0.3s ease;
  color: #2ee59d;
  text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  list-style-type: none;
}

.footer__socialLink {
  text-decoration: none;
  color: white;
  font-size: clamp(3vmin, 16px, 4vmin);
}

.footer__github:hover, .footer__linkedin:hover {
  transform: translateY(-7px);
  transition: all 0.3s ease;
  color: #2ee59d;
  text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.footer__envelope {
  visibility: hidden;
}

.blob {
  position: absolute;
  top: 500px;
  left: 200px;
  width: 23vmax;
  animation: move 40s ease-in-out infinite;
  transform-origin: 50% 30%;
}

.blob2 {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25vmax;
  animation: move2 50s ease-in-out infinite;
  transform-origin: 50% 30%;
  box-shadow: 1px 1px -8px black;
}

.blob3 {
  position: absolute;
  top: 30px;
  left: 300px;
  width: 28vmax;
  height: 30vmax;
  animation: move3 50s ease-in infinite;
  transform-origin: 30% 30%;
}

@keyframes move {
  0% {
    border-radius: 60% 40% 60% 70%/ 40% 50% 60% 70%;
    background: radial-gradient(circle at 100px 100px, rgba(92, 171, 252, 0.31), rgba(0, 0, 0, 0.4));
    transform: scale(0.8);
  }
  48% {
    transform: scale(0.8, 1) translate(60vw, 20vh) rotate(180deg);
  }
  50% {
    border-radius: 50% 70% 60% 40% / 70% 40% 50% 60%;
    background: radial-gradient(circle at 100px 100px, rgba(92, 171, 255, 0.31), rgba(0, 0, 0, 0.4));
  }
  80% {
    transform: scale(1.1, 1.1) translate(10vw, -5vh) rotate(-140deg);
  }
  100% {
    border-radius: 60% 40% 60% 70%/40% 50% 60% 70%;
    background: radial-gradient(circle at 100px 100px, rgba(92, 171, 239, 0.31), rgba(0, 0, 0, 0.4));
    transform: scale(0.8, 1);
  }
}

@keyframes move2 {
  0% {
    border-radius: 60% 40% 60% 70%/ 40% 50% 60% 70%;
    background: radial-gradient(circle at 100px 100px, rgba(55, 151, 164, 0.4), rgba(0, 0, 0, 0.4));
    transform: scale(0.8);
  }
  38% {
    transform: scale(0.8, 1) translate(-10vw, 40vh) rotate(180deg);
    background: radial-gradient(circle at 100px 100px, rgba(55, 151, 167, 0.4), rgba(0, 0, 0, 0.4));
  }
  50% {
    border-radius: 50% 70% 60% 40% / 70% 40% 50% 60%;
    background: radial-gradient(circle at 100px 100px, rgba(55, 151, 170, 0.4), rgba(0, 0, 0, 0.4));
    width: 40vw;
  }
  70% {
    transform: scale(1.1) translate(20vw, -10vh) rotate(-120deg);
    background: radial-gradient(circle at 100px 100px, rgba(55, 151, 167, 0.4), rgba(0, 0, 0, 0.4));
  }
  100% {
    border-radius: 60% 40% 60% 70%/40% 50% 60% 70%;
    background: radial-gradient(circle at 100px 100px, rgba(55, 151, 164, 0.4), rgba(0, 0, 0, 0.4));
    transform: scale(0.8);
  }
}

@keyframes move3 {
  0% {
    border-radius: 80% 50% 60% 70%/ 40% 50% 60% 70%;
    background: radial-gradient(circle at 100px 100px, rgba(72, 151, 252, 0.41), rgba(0, 0, 0, 0.4));
    transform: scale(0.8);
  }
  18% {
    transform: scale(0.8, 1) translate(10vw, 10vh) rotate(10deg);
  }
  48% {
    transform: scale(0.8, 1) translate(-10vw, 30vh) rotate(180deg);
  }
  50% {
    border-radius: 50% 70% 60% 70% / 70% 40% 70% 60%;
    background: radial-gradient(circle at 100px 100px, rgba(72, 151, 255, 0.4), rgba(0, 0, 0, 0.4));
  }
  80% {
    transform: scale(1.3) translate(30vw, -10vh) rotate(-140deg);
  }
  100% {
    border-radius: 80% 50% 60% 70%/40% 50% 60% 70%;
    background: radial-gradient(circle at 100px 100px, rgba(72, 151, 239, 0.41), rgba(0, 0, 0, 0.4));
    transform: scale(0.8);
  }
}

@media (max-width: 375px) {
  .fromLeft {
    display: none !important;
  }
}

@media (min-width: 530px) {
  .aboutMe__wrapper {
    flex-direction: row;
  }
  .aboutMe__picture {
    display: flex;
  }
  .skills__icon {
    width: 144px;
    height: 144px;
  }
  .footer__envelope {
    visibility: visible;
  }
  .projects__wrapper {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 'one one one one two two two' 'three three three five five five five' 'six six six six four four four' 'seven seven seven seven seven seven seven';
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
  .menu {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    width: 80%;
    height: 80px;
    clip-path: none;
    pointer-events: all;
    background: transparent;
  }
  .menu__item {
    opacity: 1;
    cursor: pointer;
    z-index: inherit;
    background: transparent;
  }
  .menu__link {
    padding: 0 1rem;
    background: transparent;
  }
  .hero__name {
    top: 8vh;
  }
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__description, .footer__link, .footer__socialLink {
    font-size: 1.3rem;
  }
  .footer__iconLink {
    padding-right: 0;
    align-self: inherit;
  }
  .footer__small {
    font-size: 1rem;
  }
  .aboutMe__content {
    font-size: 2.7vmax;
    padding: 6rem;
  }
  .hero__title {
    font-size: 10vmin;
  }
  .projects__wrapper {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'one one two two three three three' 'six six six four four four four' 'five five seven seven seven seven seven';
  }
}

.form {
  position: fixed;
  top: 80px;
  right: 0;
  height: calc(100vh - 80px);
  width: 100%;
  z-index: 99999;
  background-color: black;
  border-left: 8px solid #2ee59d;
  border-top: 1px solid #2ee59d;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__header {
  color: white;
}

.form__input {
  width: 80%;
  border-radius: 8px;
  line-height: 1.2;
  padding: 10px;
  padding-left: 30px;
  border: none;
  background-color: gainsboro;
}

.form__input:focus {
  background-color: #2ee59d;
}

.form__input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: gray;
  font-family: Ubuntu, Arial, sans-serif;
}

.form__btn {
  width: 50%;
  height: initial;
  z-index: 99999999;
  font-size: 1rem;
}

.form__show {
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

.form__hide {
  transform: translate(100%);
  transition: transform 0.5s ease-in-out;
}

.form__close {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.form__warning {
  margin-bottom: 1rem;
  color: red;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 0.8rem;
  opacity: 0.9;
}

.form__sent {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #2ee59d;
  visibility: hidden;
}

.redBorder {
  border: 2px solid red;
}

.showMsgSent {
  visibility: visible;
}

@media (min-width: 769px) {
  .form {
    width: 70%;
  }
  .form__input {
    width: 50%;
  }
}

@media (min-width: 769px) and (min-width: 1025px) {
  .form {
    width: 50%;
  }
}

#snow-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fall {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flake-container {
  position: absolute;
  padding: 0 50px;
  top: 0;
  animation: fall 10s 0s 1 linear forwards;
}

.flake-container img {
  position: absolute;
  animation: rotate 6s 0s infinite linear forwards;
}
